.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lz4
*.lzo
*.patch
*.gcno
modules.builtin
Module.symvers
*.dwo
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/build_kernel
!.gitignore
!.mailmap
include/config
include/generated
arch/*/include/generated
patches-*
patches
series
cscope.*
ncscope.*
GPATH
GRTAGS
GSYMS
GTAGS
*.orig
*~
\#*#
extra_certificates
signing_key.priv
signing_key.x509
x509.genkey
all.config
arch/arm64/crypto/sha256-core.S
arch/arm64/crypto/sha512-core.S
drivers/gpu/arm/mali400/ump/arch
security/selinux_n/flask.h
security/selinux_n/av_permissions.h
fips_fmp_utils
drivers/gpu/arm/mali400/ump/arch

# Zenith
build/*.zip
build.log
net/wireguard/crypto/zinc/chacha20/chacha20-arm64.S
net/wireguard/crypto/zinc/poly1305/poly1305-arm64.S
arch/arm64/boot/dtb/*
build/ak3/Image
build/ak3/dt.img

!build/ak3/modules/system/vendor/lib/libsecure_storage_jni.so
!build/ak3/modules/system/vendor/lib/libsecure_storage.so
!build/ak3/modules/system/vendor/lib64/libsecure_storage_jni.so
!build/ak3/modules/system/vendor/lib64/libsecure_storage.so
